    @import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

    body {
        font-family: 'Epilogue', Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 500;
        min-height: 100vh;
        margin: 0;

        display: flex;
        flex-direction: column;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        flex: 1;
    }

    h1 {
        font-size: 70px;
        margin: 0;
    }


    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 40px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    a {
        color: hsl(0, 0%, 41%);
        text-decoration: none;
    }

    a:hover {
        color: hsl(0, 0%, 8%);
    }

    .main-nav {
        display: flex;
        justify-content: flex-end;
        gap: 50px;
        align-items: center;
    }


    .login-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
    }

    #register {
        border: 2px solid hsl(0, 0%, 41%);
        padding: 10px;
        border-radius: 10px;
    }

    #register:hover {
        border: 2px solid hsl(0, 0%, 8%);

    }

    .main-info-area {
        display: flex;
        flex-direction: column;
    }

    header p {
        margin: 0;
    }

    p {
        max-width: 450px;
        line-height: 1.5;
        margin: 50px 0;
        color: hsl(0, 0%, 41%);
    }

    .dropdown {
        max-width: 450px;
        color: hsl(0, 0%, 41%);
        background-color: transparent;
        border: none;
        font-size: 16px;
        font-family: 'Epilogue', Arial, Helvetica, sans-serif;
        font-weight: 500;
        position: relative;
    }

    .dropdown:hover {
        cursor: pointer;
        color: hsl(0, 0%, 8%);
    }

    .dropdown-menu {
        display: flex;
        position: absolute;
        background-color: white;
        flex-direction: column;
        top: 100px;
        gap: 15px;
        box-shadow: 1px 1px 15px -5px;
        padding: 25px;
        border-radius: 10px;
        display: none;
    }

    .dropdown-menu.active {
        display: flex;
    }

    .dropdown .dropdown-nav {
        display: flex;
        flex-direction: row;
        gap: 7px;
    }

    #features-menu {
        left: 125px;
    }

    .dropdown-item {
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100px;
    }

    .down-arrow {
        height: 7px;
        width: auto;
        align-self: center;
        transition: transform 0.3s;
    }

    .dropdown.open .down-arrow {
        transform: rotate(180deg);
    }

    #learn-more {
        width: 150px;
        height: 45px;
        background-color: hsl(0, 0%, 8%);
        color: white;
        font-family: 'Epilogue';
        font-weight: 700;
        font-size: 16px;
        border-radius: 10px;
        border: none;
    }

    #learn-more:hover {
        border: 2px solid hsl(0, 0%, 8%);
        cursor: pointer;
        background-color: hsl(0, 0%, 100%);
        color: black;

    }


    .trusted-by {
        display: flex;
        flex-direction: row;
        gap: 25px;
        padding-top: 105px;
    }

    .trusted-by img {
        width: auto;
        height: 30px;
    }

    .hero-image-area {
        display: flex;

    }

    #hero-image {
        width: auto;
        height: 800px;
    }

    footer {
        margin-top: 100%;
    }

    .attribution {
        font-size: 11px;
        text-align: center;

    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }

    /*---------- Mobile-only menu -------*/
    menu {
        display: flex;
        align-items: flex-start;
        align-self: flex-end;
        flex-direction: column;
        position: fixed;
        height: 100vh;
        width: 220px;
        max-width: 90vw;
        background-color: white;
        flex-direction: column;
        z-index: 1000;
        margin: 0;

    }

    #menu-logo {
        display: none;
    }

    body.menu-open {
        overflow: hidden;
    }

    .menu-nav {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 20px;
        margin-top: 50%;
        gap: 25px;
    }


    .hidden {
        display: none;
    }

    .mobile-menu[hidden] {
        display: none;
    }

    .close-menu {
        top: 35px;
        display: block;
        right: 22px;
        position: absolute;
    }

    .darkerScreen::after {
        position: absolute;
        inset: 0;
        background: #0007;
        content: ''
    }

    #snap-mobile-logo {
        display: none;
    }

    /*-------------------------------Query--------------------------------------*/
    @media (max-width: 750px) {

        .open-menu {
            top: 35px;

            display: block;
            right: 22px;
            position: absolute;
        }

        .mobile-menu {
            padding: 0;
            width: 100%;
            max-width: 250px;
            margin: 0 auto;
        }

        #snap-mobile-logo {
            display: flex;
        }

        .main-nav {
            display: none;
        }

        .login-nav {
            display: none;
        }

        menu .login-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 0 auto;
            margin-top: 20px;
        }

        #register {
            width: 150px
        }

        .logo img {
            display: hidden;
        }

        body {
            text-align: center;
        }

        .main-info-area {
            order: 2;
            max-width: 400px;
            width: 100%;

        }

        .hero-image-area {
            order: 1;
        }

        main {
            flex-direction: column;
            gap: 50px;
            justify-content: start;
            margin-top: 50px;
        }

        #hero-image {
            content: url("images/image-hero-mobile.png");
            height: auto;
            width: 100%;
            max-width: 550px;
        }

        h1 {
            font-size: 40px;
        }

        br {
            display: none;
        }

        p {
            margin: 20px 0;
        }

        #learn-more {
            align-self: center;
            height: 50px;
        }

        .trusted-by {
            align-self: center;
            max-width: 450px;
            width: 100%;
            padding-top: 50px;
            
        }

        .trusted-by img {
            width: auto;
            height: 20px;
        }

        .dropdown-menu {
            display: flex;
            position: static;
            top: unset;
            box-shadow: none;
            padding: 10px 0;
            border-radius: 0;
            background: none;
            display: none;
            padding-left: 20px;
            gap: 18px;
            text-align: start;
            margin-top: 13px;
        }

        #features-menu {
            left: unset;
        }

        .dropdown {
            width: 100%;
            max-width: none;
            text-align: left;
            padding: 0;
        }

        a {
            font-size: 16px;
            font-weight: 500;
        }

        .attribution {
            display: none;
        }
    }